/.quarto/

# Reading materials (copyrighted PDFs and converted text files)
readings/*.pdf
readings/*.txt

# OS files
.DS_Store
Thumbs.db

# R session files
.Rhistory
.Rdata
.RData
.Ruserdata

# Dataset and student project data (large files, copyrighted content)
data/
download_*.csv

